# ==============================================================================
# CONFIGURACIÓN DE CONEXIÓN SSH AL SERVIDOR LINUX REMOTO Y RUTA DE LOGS
# ==============================================================================

# IP o Dominio del servidor Linux remoto
SSH_HOST=192.168.122.79

# Puerto del servicio SSH del servidor Linux
SSH_PORT=22

# Usuario para autenticación SSH
SSH_USER=server

# Opción 1: Contraseña de autenticación SSH
SSH_PASSWORD=server

# Opción 2: Ruta a la llave privada SSH (ej: /home/alvaro/.ssh/id_rsa o id_ed25519)
SSH_KEY_PATH=

# Contraseña de la llave privada (si aplica)
SSH_KEY_PASSPHRASE=

# Ruta específica en el servidor Linux donde se encuentran los archivos de log
REMOTE_LOG_PATH=/home/server/log

# Puerto local del servidor backend en Go
SERVER_PORT=:8080

# ==============================================================================
# CONFIGURACIÓN DE BASE DE DATOS POSTGRESQL
# ==============================================================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mitfv2_db
DB_SSLMODE=disable
